@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: epilogue;
  src: url(../assest/fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}

.eth-card {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 31% 91%,
      hsla(9, 61%, 61%, 1) 0,
      transparent 52%
    ),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%),
    radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%);
}
.blue-glassmorphism {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.white-glassmorphism-01 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-glassmorphism {
  background: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.font-epilogue {
  font-family: epilogue;
}
.nav-style {
  position: relative;
}
.nav-style::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  transition: width 0.2s;
  border-radius: 2px;
}
.nav-style:hover::after {
  width: 70%;
}
.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, #0f2027 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fade-in {
  opacity: 0;
  animation: fade-in 1s forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.icon-fade {
  opacity: 0;
  animation: icon-fade 1s forwards;
}
@keyframes icon-fade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.notification-slidein {
  /* opacity: 0; */
  animation: notification-slidein 7s forwards ease-in-out;
  /* animation-duration: ; */
  /* transform: translateY(200%); */
}
@keyframes notification-slidein {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  4% {
    transform: translateY(0px);
    opacity: 1;
  }
  7% {
    transform: translateY(-5px);
    opacity: 1;
  }
  10%,
  95% {
    transform: translateY(-5px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.numInput::-webkit-inner-spin-button,
.numInput::-webkit-outer-spin-button {
  /* Hide the spinner arrows*/
  -webkit-appearance: none;
  margin: 0;
}
.numInput::placeholder {
  color: #bbbbbb;
}
